doctype html
if name
  qzone
    wei bo
else
  qzone
else if qzone
  qzone
while name
  qzone qzone
each value in object
each value in [123,123]
  qzone qzone
each value, index in [123,123]
  qzone qzone
html.class.qzone(id="qq") this is html
  include name
  script.


    console.log('r');
    console.log('qq');
  //HTMLsdfsdfsd
  head this is head
    | qq weibo html<wqer></fsd>
    title
  body
    script.
      console.log('test')
      console.error('test')

      console.log('qq')
    script.
      console.log('weibo')
  footer
body
- console.log('test')
- alert("wq");
html
  head
    body
      - code
      title
    - code
title

html


  head
    - code
    head
    title
    - console.log('test')
    body
      console.log('test')
body
    div name
      span my
      | qq
      span #{qq}
extend(
  replace="qq"
  keyword=["name","qq","web"]
  description="this is #{description}"
  title=title
  say=true
  not=false
  hello=nullm
  name={
    first: 'simon',
    last: 'hao'
  }
  age=24
) layout!content
replace header
  include header
    include main
      include footer
  include nav
replace main
  - console.log('test')
  if two
    include nav:top
    p this is main before
      span qq
      | wiebo
      span #{description}
  else
    include nav:bottom
    p this is main after
replace footer
  each val,index
    p this is footer #{keyword}
  while n < 4
    p(
      id="test"
      qq="123"
    ) footer list
  script.
    function show(name){
      alert(name);
    }
    show('simon');